<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470313264294-bslqlvubon82heuichrguqhaj7be12cf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470313264294-bslqlvubon82heuichrguqhaj7be12cf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>470313264294-d9skav4vbgr4abdc0cjbrsusb712vr7a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-PFMwXrJGlCNgFz9adbZyTt9GFKjCSTY</string>
	<key>GCM_SENDER_ID</key>
	<string>470313264294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>XC.com.rainbow1872.rainbow1872</string>
	<key>PROJECT_ID</key>
	<string>rainbow-6d54e</string>
	<key>STORAGE_BUCKET</key>
	<string>rainbow-6d54e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470313264294:ios:f6f8afbd142cae4109c067</string>
</dict>
</plist>